<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TMP"
        tools:targetApi="31">
        <activity
            android:name=".VatActivity"
            android:exported="false" />
        <activity
            android:name=".RefferralActivity"
            android:exported="false" />
        <activity
            android:name=".SettingActivity"
            android:exported="false" />
        <activity
            android:name=".complainActivity"
            android:exported="false" />
        <activity
            android:name=".ServiceActivity"
            android:exported="false" />
        <activity
            android:name=".serviceActivity"
            android:exported="false"
            android:label="@string/title_activity_service"
            android:theme="@style/Theme.TMP" />
        <activity
            android:name=".NoticeActivity"
            android:exported="false" />
        <activity
            android:name=".WithDrawHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".withDrawActivity"
            android:exported="false" />
        <activity
            android:name=".DepositActivity"
            android:exported="false" />
        <activity
            android:name=".serverActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".signUp"
            android:exported="false" />
        <activity
            android:name=".SignIn"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.TMP" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>